<!doctype html>
<html class="no-js" lang="en">

  {% include head.html  %}

  <body class="black-90 sans-serif">

    {% include header.html %}

    <div>

      {% for post in site.posts limit:5 %}

      <ul class="list pa0 mh4">
        <li class="mb4">
          <a href="{{ post.url }}" class="f3 mb1 b db purple no-underline underline-hover">{{ post.title }}</a>
          <div class="f5 black-70">{{ post.date | date: '%B %d, %Y' }}</div>
          <div class="f4 lh-copy mt2 measure-wide">

            {{ post.post_excerpt }}

          </div>
        </li>
      </ul>

      {% endfor %}

    </div>

    {% include footer.html %}

  </body>
</html>
