<!doctype html>
<html class="no-js" lang="en">

  {% include head.html  %}

  <body class="black-90 sans-serif">

    {% include header.html %}

    <div class="black-90 b f2 mw7 mh4 mv5 lh-title">
      <p>Running list of books I've read or am reading. 
      </p>

    </div>
    <div>

      {% for book in site.data.books %}

      <ul class="list pa0 mh4">
        <li class="mb4">
          <p class="f2 mb1 b db purple no-underline">{{book.title}}</p>
          <div class="f4 mb1 black-70">{{book.author}}</div>
          <div class="f5 light-purple">{{book.status}}</div>
        </li>
      </ul>

      {% endfor %}

    </div>

    {% include footer.html %}

  </body>
</html>
